# /etc/systemd/system/backoffice.service

[Unit]
Description=backoffice.legendatours.com service

[Service]
WorkingDirectory=/srv/backoffice
ExecStart=/usr/bin/java -Xms96m -Xmx96m -jar backoffice-0.1-SNAPSHOT.jar server config.yml
User=root
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
